# Gemini API Key from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=

# MFS Payment Configuration
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_BASE_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta

NAGAD_MERCHANT_ID=
NAGAD_PUBLIC_KEY=
NAGAD_PRIVATE_KEY=
NAGAD_BASE_URL=https://sandbox.mynagad.com:10080/remote-payment-gateway-1.0/api/dfs

ROCKET_MERCHANT_ID=
ROCKET_APP_ID=
ROCKET_APP_SECRET=
ROCKET_BASE_URL=
